.container.signup{
    background-color: white;
    margin-top: 90px; 
    /* display: block; */
    width: 400px;
    align-content: center;
    height: 520px;
    opacity: 1;
    height: auto;
}


.row .registertext{

 text-align: center; 
 color: brown; 
 padding-top: 50px;
 font-family: 'Acme', sans-serif;
 -webkit-font-smoothing: antialiased;
 -moz-osx-font-smoothing: grayscale;
}

.main1{
position:absolute;
height:100vh;
background: grey;
}

.register-btn{
    background: #60c7c1;
    border: none;
    font-weight: 500;
}

.btn.btn-primary.btn-lg.btn-block.register-btn:hover{
    background: #15bd93e3;

}
.password{
    margin-top: 10px;
    background-color:lightskyblue;
    height: 94px;
    width: 300px;
    font-size: 12px;
    text-align: left;
}
.container.signup{
  
    font-family: 'Acme', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  
}
