.card1{
    width:300px;
    height:350px;
    float:center;   
    /* margin-right:100px; */
    /* flex-flow: inherit; */
    border-color: maroon;
    
    
   
}
.card-img{
    position: inherit;
    width: 298px;
    padding: 4px 4px 4px 4px
}
.card-title{
    text-align: center;
} 
.homepage>div{
    flex: 0 25%;
    margin:5px;
    
}