.navbar{
    color: blue;
    font-family: 'Acme', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.nav-item>h3.loggedUsername{
    color: red;
}
.nav-link{
    font-family: 'Acme', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.header{
    font-family: 'Acme', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
navbar-brand:hover{
    background-color: blue;
}